* {
    margin: 0;
    padding: 0;

}

body {
    background: #3A3A3C;
}

#wrapper {
    /*    background-color: white;*/
    width: 90%;
    margin: 0 auto;
    /* fÃ¼r alte IE-Versionen zwecks Zentrierung */
    /*text-align: left;*/
}

#tableGame {
    /*border: 1px solid #ccc;*/
    border-collapse: collapse;
    background-image: url("../images/malefiz-end.png");
    background-size: 100%;


    margin: 0 auto;
    width: 40%;
    table-layout: fixed;
}

#tableGameInfo {
    margin: 0 auto;
    padding: 0;
    width: 40%;
    table-layout: fixed;
}

td {
    width: 43px /*2.75em*/;
    height: 44px /*2.75em;*/;
}

.field {
    background: url("../images/cells/field.png") no-repeat center;
}

.aim {
    background: url("../images/cells/aim.png") no-repeat;
}

.statementText {
    font-size: 1.25em;
    font-family: "Comic Sans MS", serif;
    color: #E55A00;
}

.dice {
    text-align: center;
}

.input {
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-family: "Comic Sans MS", serif;
    color: #E55A00;
}