.carousel-item {
    height: 100vh;
    background-color: #3A3A3C;
}

img {
    height: 100vh;
    width: 40vw;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30vw;
    text-align: right;
    width: 50vw;
    font-size: 1.25rem;

}

.left {
    text-align: center;
}
