@()


@main("Spielregeln") {
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/rules.css")' />
<body bgcolor="#F0E68C">

    <article>
        <figure>
            <img src="@{routes.Assets.versioned("images/malefiz-5.png")}" />
        </figure>
        <section>
            <div>
                <h1>Willkommen zu Malefiz</h1>
                <p>Würfeln, legen, taktiken – <br>das ist das „Das Original Malefiz Spiel“</p>
                <p>Bei diesem Legespiel kommt es auf euer Würfelglück und Taktikgeschick an – und was ihr daraus macht.<br>
                    Es bleibt bis zum Schluss spannend, denn wer im einen Moment noch wie ein Gewinner aussah,<br>
                    kann im nächsten Moment schon wieder ganz hinten stehen.</p>
            </div>
        </section>

        <figure>
            <img src="@{routes.Assets.versioned("images/malefiz-1.png")}" />
        </figure>
        <section>
            <div>
                <h2>Kurzbeschreibung <br>„Das Original Malefiz Spiel“</h2>
                <p>
                    In dem Brettspiel für die ganze Familie geht es darum, dass jeder Spieler versucht,<br> am schnellsten ins Ziel zu gelangen.
                    Auf dem Weg in das Ziel kann man den Gegner im wahrsten Sinne des Wortes Steine in den Weg legen,<br> um diese auf ihrem Weg auszubremsen.
                </p>
            </div>
        </section>

        <figure>
            <img src="@{routes.Assets.versioned("images/malefiz-2.png")}" />
        </figure>
        <section>
            <div>
                <h2>Ziel des Spiels</h2>
                <p>Als Erster eine der eigenen Figuren ins Ziel bringen. Gleichzeitig versucht ihr,
                    es euren Mitspielern so schwer wie möglich zu machen.</p>
            </div>
        </section>

        <figure>
            <img src="@{routes.Assets.versioned("images/malefiz-3.png")}" />
        </figure>
        <section>
            <div>
                <h2>Spieleranzahl, Alter und Dauer</h2>
                <p>
               <ul>
                  <li><2 – 4 Spieler</li>
                  <li>ab 6 Jahren</li>
                  <li>rund 30 – 45 Minuten</li>

               </ul>
                </p>
            </div>
        </section>

        <figure>
            <img src="@{routes.Assets.versioned("images/malefiz-4.png")}" />
        </figure>
        <section>
            <div>
                <h2>Spielertyp</h2>
                <p>
                    <ul>
                        <li>Familienspiel</li>
                        <li>Taktiker</li>
                        <li>Brettspiel</li>
                        <li>Würfelspiel</li>
                        <li>Laufspiel</li>
                    </ul>
                </p>
            </div>
        </section>

        <figure>
            <img src="@{routes.Assets.versioned("images/malefizimg.png")}" />
        </figure>
        <section>
            <div>
                <h2>Spiel startklar machen</h2>
                <p>
                    Jeder von euch erhält 5 Spielfiguren einer Farbe, die ihr auf den farblich markierten Ausgangsfeldern absetzt. <br>
                    Der Spielplan kommt in eure Mitte, sodass jeder einen guten Zugang hat.<br>
                    Die Sperrsteine legt ihr auf die 11 roten Felder des Plans.
                </p>
            </div>
        </section>

        <figure>
            <img src="@{routes.Assets.versioned("images/malefiz-7.png")}" />
        </figure>
        <section>
            <div>
                <h2>So wird gespielt</h2>
                <p>
                    Anfangen darf der jüngste Spieler der Runde, anschließend spielt ihr der Reihe nach weiter.

                    Der Spieler, der gerade an der Reihe ist, würfelt einmal. Daraufhin darf er seine Figur bewegen. <br>
                    Sie darf in jede beliebige Richtung gezogen werden, wobei auch eigene Spielfiguren dürfen übersprungen werden dürfen. <br>
                    Allerdings darf die eingeschlagene Richtung nicht mehr geändert werden und es darf auf jedem Feld nur eine Spielfigur stehen. <br>
                    Fremde Figuren können geschlagen werden. Sie müssen dann zur Startposition zurück.
                    <br><br>
                    Blockadesteine dürfen nicht übersprungen werden. Man muss sie mit einem Wurf genau treffen.<br>
                    Dann darf man sie neu platzieren und zukünftig ist der Weg frei. Logischerweise würde man sie einem Gegner,<br>
                    der fast sein Ziel erreicht hat, vor die Nase setzen.
                </p>
            </div>
        </section>

        <figure>
            <img src="@{routes.Assets.versioned("images/malefiz-6.png")}" />
        </figure>
        <section>
            <div>
                <h2>Alles hat ein Ende</h2>
                <p>
                    Um das Spiel zu gewinnen, muss man mit dem letzten Stein das Zielfeld ganz genau erreichen. <br>
                    Sind es noch 3 Felder, dann muss man auch eine Drei würfeln, Passen oder eine andere Figur setzen.
                </p>

                <p>
                    <a href="/">Zurück</a>
                </p>
            </div>
        </section>

    </article>
@*    <table border="1">*@
@*        <tr>*@

@*            <table>*@
@*                <tr>*@
@*                    <td><img width="600" src="@{routes.Assets.versioned("images/malefizimg.png")}"></td>*@
@*                    <td>*@
@*                        <table height="350">*@
@*                        </table>*@
@*                        <h1><font face="Comic sans MS" color="#E55A00">Würfeln, legen, taktiken – <br>das ist das „Das Original Malefiz Spiel“</font></h1>*@
@*                        <p><font size="4" face="Comic sans MS">Ein absoluter Klassiker aus dem Hause Ravensburger ist „Das Original Malefiz Spiel“.<br>*@

@*                            Bei diesem Legespiel kommt es auf euer Würfelglück und Taktikgeschick an – und was ihr daraus macht.<br>*@
@*                            Es bleibt bis zum Schluss spannend, denn wer im einen Moment noch wie ein Gewinner aussah,<br> kann im nächsten Moment schon wieder ganz hinten stehen.</font></p></td>*@
@*                </tr>*@

@*            </table>*@

@*        </tr>*@

@*        <tr>*@
@*        <td>*@

@*            <h1><font face="Comic sans MS" color="#E55A00">Kurzbeschreibung „Das Original Malefiz Spiel“</font></h1>*@
@*            <p><font size="4" face="Comic sans MS">In dem Brettspiel für die ganze Familie geht es darum, dass jeder Spieler versucht,<br> am schnellsten ins Ziel zu gelangen.*@
@*                Auf dem Weg in das Ziel kann man den Gegner im wahrsten Sinne des Wortes Steine in den Weg legen,<br> um diese auf ihrem Weg auszubremsen.</font></p>*@
@*        </td>*@
@*        </tr>*@

@*        <tr>*@
@*            <td>*@

@*                <h1><font face="Comic sans MS" color="#E55A00">Ziel des Spiels</font></h1>*@
@*                <p><font size="4" face="Comic sans MS">Als Erster eine der eigenen Figuren ins Ziel bringen. Gleichzeitig versucht ihr,*@
@*                    es euren Mitspielern so schwer wie möglich zu machen.</font></p>*@
@*            </td>*@
@*        </tr>*@

@*        <tr>*@
@*            <td>*@
@*                <h1><font face="Comic sans MS" color="#E55A00">Spieleranzahl, Alter und Dauer</font></h1>*@
@*                <ul>*@
@*                    <li><font size="4" face="Comic sans MS">2 – 4 Spieler</font></li>*@
@*                    <li><font size="4" face="Comic sans MS">ab 6 Jahren</font></li>*@
@*                    <li><font size="4" face="Comic sans MS">rund 30 – 45 Minuten</font></li>*@


@*                </ul>*@
@*            </td>*@
@*        </tr>*@
@*        <tr>*@
@*            <td>*@
@*                <h1><font face="Comic sans MS" color="#E55A00">Spielertyp</font></h1>*@
@*                <ul>*@
@*                    <li><font size="4" face="Comic sans MS">Familienspiel</font></li>*@
@*                    <li><font size="4" face="Comic sans MS">Taktiker</font></li>*@
@*                    <li><font size="4" face="Comic sans MS">Brettspiel</font></li>*@
@*                    <li><font size="4" face="Comic sans MS">Würfelspiel</font></li>*@
@*                    <li><font size="4" face="Comic sans MS">Laufspiel</font></li>*@
@*                </ul>*@
@*            </td>*@
@*        </tr>*@


@*        <tr>*@
@*            <td>*@

@*                <h1><font face="Comic sans MS" color="#E55A00">So spielt ihr „Das Original Malefiz Spiel“</font></h1>*@
@*            </td>*@

@*        </tr>*@
@*        <tr>*@
@*            <td>*@

@*                <h2><font face="Comic sans MS" color="#E55A00">Spiel startklar machen</font></h2>*@
@*                <p><font size="4" face="Comic sans MS">Jeder von euch erhält 5 Spielfiguren einer Farbe, die ihr auf den farblich markierten Ausgangsfeldern absetzt. <br></br>*@
@*                    Der Spielplan kommt in eure Mitte, sodass jeder einen guten Zugang hat.<br>*@
@*                    Die Sperrsteine legt ihr auf die 11 roten Felder des Plans.</font></p>*@
@*            </td>*@
@*        </tr>*@
@*        <tr>*@
@*            <td>*@

@*                <h2><font face="Comic sans MS" color="#E55A00">So wird gespielt</font></h2>*@
@*                <p><font size="4" face="Comic sans MS">Anfangen darf der jüngste Spieler der Runde, anschließend spielt ihr der Reihe nach weiter.*@

@*                    Der Spieler, der gerade an der Reihe ist, würfelt einmal. Daraufhin darf er seine Figur bewegen. <br>*@
@*                    Sie darf in jede beliebige Richtung gezogen werden, wobei auch eigene Spielfiguren dürfen übersprungen werden dürfen. <br>*@
@*                    Allerdings darf die eingeschlagene Richtung nicht mehr geändert werden und es darf auf jedem Feld nur eine Spielfigur stehen. <br>*@
@*                    Fremde Figuren können geschlagen werden. Sie müssen dann zur Startposition zurück.*@
@*                    <br><br>*@
@*                    Blockadesteine dürfen nicht übersprungen werden. Man muss sie mit einem Wurf genau treffen.<br>*@
@*                    Dann darf man sie neu platzieren und zukünftig ist der Weg frei. Logischerweise würde man sie einem Gegner,<br>*@
@*                    der fast sein Ziel erreicht hat, vor die Nase setzen.</font></p>*@
@*            </td>*@
@*        </tr>*@
@*        <tr>*@
@*            <td>*@

@*                <h2><font face="Comic sans MS" color="#E55A00">Alles hat ein Ende</font></h2>*@
@*                <p><font size="4" face="Comic sans MS">Um das Spiel zu gewinnen, muss man mit dem letzten Stein das Zielfeld ganz genau erreichen. <br>*@
@*                    Sind es noch 3 Felder, dann muss man auch eine Drei würfeln, Passen oder eine andere Figur setzen.</font></p>*@
@*            </td>*@
@*        </tr>*@


@*        <a href="/"> <font size="5" face="Comic sans MS" color="#E55A00"> Zurück</font></a>*@


@*    </table>*@
</body>
}