@()
@main("Malefiz") {
    @main("Malefiz") {
        <!doctype html>
        <html lang="de">
            <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Malefiz</title>
                <head>
                    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/gameboard.css")' />
                </head>
            </head>
            <body>
                <div id="malefiz">
                    <div class="container">
                        <div class="row ">
                            <h1>MALEFIZ</h1>
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xl-8">
                                <gameboard></gameboard>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
                                <infoBox></infoBox>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
        </html>
    }
}