@()

@main("Malefiz") {
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/malefiz.css")' />
    <body>

        <header>
            <h1>Malefiz</h1>
        </header>

        <div class="container">

            <div class="left-box">
                <div class="form1">
                    <p class="gamerules"><a href="gameRules">SPIEL <br>REGELN</a></p>
                </div>
            </div>

            <div class="right-box">
                <div class="form">
                    <h2>Bitte Spieler eintragen!</h2>
                    <div class="input">
                        <form method="post" action="newGame">
                            <div class="inputBox">
                                <label>Spieler 1</label>
                                <input type="text" name="player_1" />
                            </div>
                            <div class="inputBox">
                                <label>Spieler 2</label>
                                <input type="text" name="player_2" />
                            </div>
                            <div class="inputBox">
                                <label>Spieler 3</label>
                                <input type="text" name="player_3" />
                            </div>
                            <div class="inputBox">
                                <label>Spieler 4</label>
                                <input type="text" name="player_4" />
                            </div>
                            <div class="inputBox">
                                <input type="submit" value="Spiel starten!">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


    </body>
}