@()

@main("just a test"){

    <link rel="stylesheet" href='@routes.Assets.versioned("../../public/stylesheets/gameboard.css")' />
    <div id="wrapper">
        <div class="table-container">

            <table class="table">
                <tr>
                    <td>Eins</td>
                    <td>Zwei</td>
                    <td>Drei</td>
                    <td>Vier</td>
                    <td>Fünf</td>
                    <td>Sechs</td>
                </tr>
                <tr>
                    <td>Eins</td>
                    <td>Zwei</td>
                    <td>Drei</td>
                    <td>Vier</td>
                    <td>Fünf</td>
                    <td>Sechs</td>
                </tr>
                <tr>
                    <td>Eins</td>
                    <td>Zwei</td>
                    <td>Drei</td>
                    <td>Vier</td>
                    <td>Fünf</td>
                    <td>Sechs</td>
                </tr>
                <tr>
                    <td>Eins</td>
                    <td>Zwei</td>
                    <td>Drei</td>
                    <td>Vier</td>
                    <td>Fünf</td>
                    <td>Sechs</td>
                </tr>
                <tr>
                    <td>Eins</td>
                    <td>Zwei</td>
                    <td>Drei</td>
                    <td>Vier</td>
                    <td>Fünf</td>
                    <td>Sechs</td>
                </tr>
            </table>
        </div>
    </div>
}